<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Compose new micropost..." %>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.button "Post", class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-sm-1">
      <span class="word-countdown">140</span>
    </div>
  </div>
<% end %>
