<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="row">
    <div class="span" style="margin-right:5px;">
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
    </div>
    <span class="word-countdown">140</span>
  </div>
<% end %>
